<template>
  <div>
    <h1>Sign Up</h1>
    <div class="alert alert-danger" v-if="error">
      <p>{{ error }}</p>
    </div>
    <form v-on:submit="validateUserInfo()">
      <div>
        Username: <input type="text" v-model="username">
      </div>
      <div>
        Email:<input id="email" v-model="email">
      </div>
      <div>
        Password:<input type="password" v-model="password">
      </div>
      <div>
      Confirm password:<input type="password" v-model="confirmPassword">
      </div>
      <input type="submit" value="Submit">
    </form>
  </div>
</template>

<script>
export default {
  name: 'signUp',
  data () {
    return {
      username: '',
      email: '',
      password: '',
      confirmPassword: '',
      error: null
    }
  },
  methods: {
    validateUserInfo () {
      this.error = ''
      if (this.validatePswd() && this.validateUsername()) {
        this.validSignUp()
      }
    },
    validatePswd () {
      if (this.password === this.confirmPassword) {
        return true
      } else {
        if (this.error) {
          this.error += ' Password doesn\'t match '
          return false
        } else {
          this.error = ' Password doesn\'t match ' + '\n'
          return false
        }
      }
    },
    validateUsername () {
      if (/^[0-9a-zA-Z_.-]+$/.test(this.username)) {
        return true
      } else {
        if (this.error) {
          this.error += ' Unauthorized character used in username. Valid characters are : 0-9, a-z, A-Z, _, ., -'
          return false
        } else {
          this.error = ' Unauthorized character used in username. Valid characters are : 0-9, a-z, A-Z, _, ., - ' + '\n'
          return false
        }
      }
    },
    // valid signup
    sendSignUp () {

    }
    
    clearForm () {
      this.username = ''
      this.email = ''
      this.password = ''
      this.confirmPassword = ''
      this.error = ''
    }
  }
}

</script>

<style scoped>
 p {color:red;}
</style>